.container {
	max-width: 550px;
	width: 90vw;
	border-radius: 1rem;
	overflow: hidden;
}

.state,
.circle {
	display: flex;
	align-items: center;
	justify-content: center;
}

.state>button {
	background-color: grey;
	color: white;
	border: 0;
	border-radius: 50%;
	font-size: 2rem;
	width: 3rem;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.state>button:hover {
	background-color: rgb(159, 159, 159);
	cursor: pointer;
}

.circle {
	background-color: black;
	color: white;
	width: 6rem;
	height: 6rem;
	border-radius: 50%;
}

/* @media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}
}

@media (prefers-color-scheme: dark) {

	.card,
	.footer {
		border-color: #222;
	}

	.code {
		background: #111;
	}

	.logo img {
		filter: invert(1);
	}
} */